@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body * {
	box-sizing: border-box;
}

.item { width: 400px; min-height: 200px; }


.home-top {
	background: url('../layout-imgs/home-bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}
.home-top img {
	width: 75%;
	padding: 10%;
}

#container{
	width: 1200px;
	margin: 0 auto;
}
.item {
}
.item img{
	width: 100%;
	height: auto;
	padding: 10px;
	transition: all 0.25s;
}
.item img:hover{
	opacity: 0.7;
	background: black;
	z-index: 1000;
	position: relative;

}




// INTERIOR PAGE
.interior{
	.nav{
		background-color: black;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}
	.lower{
		margin-top: 100px;
	}
	h1{
		font-weight: bold;
		margin-bottom: 20px;
		font-size: 50px;
	}
	h1:after{
		content: "With Googly Eyes";
	}
	.painting{
		margin-bottom: 30px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.sidebar{
		h2{
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 16px;
			font-weight: bold;
			border-bottom: 2px solid #000;
			padding-bottom: 5px;
			margin-bottom: 5px;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li{
			margin-bottom: 10px;
		}

	}
}

